@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/reuseables";
@import "styles/flexes";
@import "styles/text";

.mainContainer {
  margin-top: 6rem;
  padding: 1rem 2rem 5rem 2rem;
  background-color: $ghostWhite;
}

.headingWrapper {
  @include flexRowBetweenCenter;
  margin-top: 1rem;
  @include tablet {
    flex-direction: column;
  }
}

.headingContainer {
  @include flexRowStartCenter;
  & > a {
    @include flexRowStartCenter;
    gap: 1rem;
  }
}

.eventInfoContainer {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  background-color: $white;
  padding: 2rem;
  margin-top: 3rem;
  @include flexRowBetweenCenter;
  @include tablet {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
  & > div {
    @include leftBorder;
    padding: 0 2rem;
    margin-top: 1rem;
    @include tablet {
      border: none;
      width: 100%;
    }
  }
  & > div:first-child {
    border: none;
    @include flexColumnStartStart;
  }
}

.logoContainer {
  @include flexRowStartCenter;
  gap: 2rem;
  margin-top: 1rem;
  width: 100%;
  @include tablet {
    @include flexColumnStartStart;
  }
  & .logoBox {
    min-width: 7rem;
    min-height: 7rem;
    border-radius: 0.5rem;
    background-color: $silverSand;
    @include flexColumnCenterCenter;
    @include tablet {
      min-width: 100%;
      min-height: 16rem;
    }
    & p:first-child {
      @include textGroupSmLight;
      font-family: $interSans;
    }
  }
}

.eventInfo {
  & p {
    margin: 1rem 0;
  }
}

.linkContainer {
  @include flexRowStartCenter;
  border-radius: 0.5rem;
  background-color: $brightGrey;
  padding: 1rem 2rem;
  gap: 1rem;
  & img {
    cursor: pointer;
  }
  & a {
    font-weight: 500;
    font-family: $interSans;
    color: $darkGrey;
    font-size: 1.2rem;
  }
}

// Sales
.salesContainer {
  @include gridContainer;
  grid-template-columns: 50% 50%;
  padding-bottom: 3rem;
}
.reportContainer {
  @include flexColumnStartCenter;
  gap: 2rem;
}

.valueContainer {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  background-color: $white;
  padding: 2rem 2rem 3rem 2rem;
  width: calc(100% - 4rem);
  @include noteBook {
    width: 100%;
  }
}
