@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/reuseables";
@import "styles/flexes";
@import "styles/text";

.mainContainer {
  @include dashboardMainContainer;
}

// Sales
.salesContainer {
  @include gridContainer;
  grid-template-columns: 50% 50%;
  padding-bottom: 3rem;
}
.reportContainer {
  @include flexColumnStartCenter;
  gap: 2rem;
}

.valueContainer {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
  background-color: $white;
  padding: 2rem 2rem 3rem 2rem;
  width: calc(100% - 4rem);
  @include noteBook {
    width: 100%;
  }
}
