@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/reuseables";
@import "styles/flexes";
@import "styles/text";

.pastPollsContainer {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: calc(80% - 2rem) 20%;
  gap: 2rem;
  align-items: center;
}
.pollQuestion {
  background-color: $brightGrey;
  height: 4rem;
  border-radius: 0.5rem;
  padding: 0 2rem;
}
.resultContainer {
  & p {
    text-decoration: underline;
    cursor: pointer;
    margin: 0;
    text-align: center;
    padding: 0.5rem 0;
  }
}
