@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";

.navContainer {
  background-color: $yellow;
  height: 6rem;
  @include flexRowBetweenCenter;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  width: calc(100% - 32rem);
  & h1 {
    @include textGroupMdBold;
  }
  @include noteBook {
    display: none;
  }
}
.notificationContainer {
  @include flexRowStartCenter;
  gap: 1rem;

  & p {
    @include textGroupMdLight;
    font-family: $interSans;
  }
}
