@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/reuseables";
@import "styles/flexes";
@import "styles/text";

@mixin headingText {
  & p {
    @include textGroupSmLight;
    margin: 1rem;
  }
  & h2 {
    @include textGroupLgBold;
    margin: 1rem;
    @include mobile {
      @include textGroupMdBold;
    }
  }
}

.eventListItemContainer {
  @include flexRowBetweenCenter;
  border-bottom: 0.1rem solid rgba($color: $black, $alpha: 0.1);
  padding: 2rem 0;
  flex-wrap: wrap;
  gap: 2rem;
}
.thumbnailContainer {
  @include flexRowStartCenter;
  @include mobile {
    flex-direction: column;
  }
  & .thumbnail {
    width: 19.9rem;
    height: 16rem;
    background-color: $waterBlue;
    padding: 1.6rem 2.4rem;
    @include mobile {
      width: 100%;
    }
    & .schedule {
      width: 8rem;
      height: 2.4rem;
      border-radius: 5rem;
      background-color: $lightGreen;
      font-size: 1rem;
      line-height: 2.5rem;
      text-align: center;
      font-weight: 700;
      font-family: $interSans;
    }
    & p {
      text-align: center;
      @include textGroupMdLight;
      font-family: $interSans;
      margin-top: 3rem;
    }
  }
}

.dateContainer {
  @include headingText;
  & h2 {
    font-family: $interSans;
  }
  @include mobile {
    @include flexRowStartCenter;
  }
}

.eventContainer {
  @include headingText;
  @include leftBorder;
  @include mobile {
    @include flexRowStartCenter;
  }
  & .eventName {
    background-color: $waterBlue;
    @include flexRowCenterCenter;
    width: 10rem;
    height: 3.4rem;
    border-radius: 5rem;
    gap: 0.5rem;
    margin-left: 1rem;
    & img {
      width: 1.3rem;
      height: 1rem;
    }
    & span {
      text-transform: uppercase;
      @include textGroupThinBold;
    }
  }
  & h2 {
    font-family: $interSans;
  }
}

.actionContainer {
  @include flexRowStartCenter;
  @include leftBorder;
  padding: 1rem;
  gap: 1rem;
  min-height: 10rem;
  @include mobile {
    min-height: auto;
  }
  & .moreContainer {
    @include iconBox;
    & img {
      width: 2.5rem;
      height: 0.5rem;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
