@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/reuseables";
@import "styles/flexes";

.mainContainer {
  @include dashboardMainContainer;
}
.eventListContainer {
  margin-top: 2rem;
  box-shadow: 0px 1rem 2rem rgba(0, 0, 0, 0.05);
  background-color: $white;
  padding: 1rem 2rem 5rem 2rem;
  @include mobile {
    & h1 {
      text-align: center;
      font-family: $interSans;
    }
  }
}

.headingContainer {
  @include flexRowBetweenCenter;
  @include mobile {
    & img {
      display: none;
    }
    & h1 {
      text-align: center;
      font-family: $interSans;
    }
  }
}
