@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/reuseables";
@import "styles/flexes";
@import "styles/text";

// Mixins

@mixin chatWidget($bg, $borderLeftColor, $borderRightColor, $right, $left) {
  background-color: $bg;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  &::after {
    content: "";
    position: absolute;
    border-top: 1.5rem solid transparent;
    border-bottom: 1.5rem solid transparent;
    border-left: 2.5rem solid $borderLeftColor;
    border-right: 2.5rem solid $borderRightColor;
    width: 0;
    height: 0;
    right: $right;
    left: $left;
    top: 0.5rem;
  }
}

@mixin messageBox {
  @include flexRowStartStart;
  position: relative;
  gap: 2rem;
  & img {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
  }
}

// Classes

.chatWrapper {
  @include flexColumnBetweenCenter;
}
.chatContainer {
  margin-top: 1rem;
  max-height: 35rem;
  height: 35rem;
  overflow-y: scroll;
  width: calc(100% - 4rem);
  padding: 2rem;
  @include flexColumnStartStart;
  gap: 2rem;
}
.inputWrapper {
  @include flexRowCenterCenter;
  gap: 1rem;
  width: 70%;
  margin-top: 2rem;
  @include tablet {
    width: 95%;
  }
  & input {
    width: 100%;
    height: 5rem;
    border: none;
    background-color: $brightGrey;
    padding: 2rem;
    border-radius: 0.5rem;
  }
  & .sendBox {
    @include iconBox;
  }
}

.senderContainer {
  @include flexRowStartCenter;
  width: 100%;
  & .leftMsg {
    @include messageBox;
    & > div {
      @include chatWidget($waterBlue, transparent, $waterBlue, auto, 2rem);
    }
    & p {
      font-weight: 500;
      margin: 0;
    }
  }
}

.receiverContainer {
  @include flexRowEndCenter;
  width: 100%;
  & .rightMsg {
    @include messageBox;
    & > div {
      @include chatWidget($brightGrey, $brightGrey, transparent, 2rem, auto);
    }
    & p {
      font-weight: 500;
      margin: 0;
    }
  }
}

.filterWrapper {
  @include flexRowEndCenter;
  background-color: $lightGreen;
  padding: 0.25rem 0;
  margin-top: 2rem;
}
.filterContainer {
  @include flexRowStartCenter;
  gap: 1rem;
  margin-right: 2rem;
  & p {
    font-weight: 500;
  }
}
