@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";

.modal {
  position: fixed;
  width: 70rem;
  right: 0;
  left: 0;
  top: 25%;
  z-index: 99;
  margin: auto;
  display: block;
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateY(-25%);
  background-color: $white;
  @include tablet {
    width: 100%;
    top: 6rem;
  }
}

.modalContent {
  z-index: 2;
  position: relative;
  max-height: 100vh;
  overflow-y: auto;
}
.modalContainer {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
}

.modalContainer:after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  content: "";
  overflow: hidden;
}
