$strongBlue: #0000ee;
$darkBlue: #48c9ff;
$lightBlue: #72ffe4;
$darkSkyBlue: #3898ec;
$waterBlue: #daf4ff;
$aliceBlue: #edfaff;
$green: #b2ff1f;
$lightGreen: #ebfacd;
$yellow: #ffff1f;
$darkPink: #d57ef8;
$lightPink: #ffcafa;
$red: #ff0000;
$black: #000000;
$white: #ffffff;
$dustyGrey: #999999;
$lightGrey: #f6f6f6;
$brightGrey: #eeeeee;
$darkGrey: #555555;
$silver: #777777;
$silverSand: #c4c4c4;
$ghostWhite: #f9f9f9;
$workSans: "Work Sans", sans-serif;
$timesRoman: "Times New Roman", Times, serif;
$interSans: "Inter", sans-serif;
