@mixin flexRowBetweenCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@mixin flexRowBetweenStart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
@mixin flexRowStartCenter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexRowCenterCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin flexRowStartStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin flexRowEndCenter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
@mixin flexColumnCenterCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@mixin flexColumnStartCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
@mixin flexColumnStartStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@mixin flexColumnBetweenStart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
@mixin flexColumnBetweenCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
