@import "styles/colors.scss";

/* Colors */

.yellowBg {
  background-color: $yellow;
}
.lightPinkBg {
  background-color: $lightPink;
}
.darkPinkBg {
  background-color: $darkPink;
}
.greenBg {
  background-color: $green;
}
.darkBlueBg {
  background-color: $darkBlue;
}
.lightBlueBg {
  background-color: $lightBlue;
}

.blackBg {
  background-color: $black;
}

.black {
  color: $black;
}

.whiteBg {
  background-color: $white;
}
.white {
  color: $white;
}

.lightGrey {
  color: $lightGrey;
}
