@import "styles/colors.scss";
@import "styles/breakpoints";
@import "styles/flexes";
@import "styles/text";

.nalysisChartContainer {
  background-color: $black;
  padding: 1rem 2rem;
}

.chartHeaderContainer {
  @include flexRowBetweenStart;
  & .textContainer {
    & p {
      margin: 0;
    }
  }
}

.indicatorContainer {
  @include flexRowStartCenter;
  gap: 2rem;
  & > div {
    @include flexRowStartCenter;
    gap: 1rem;
    & p {
      @include textGroupThinLight;
    }
    &:nth-child(1) {
      & p {
        color: $darkBlue;
      }
    }
    &:nth-child(2) {
      & p {
        color: $green;
      }
    }
  }
}

.graphContainer {
  margin-top: 3rem;
  height: 50rem;
}
